@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply text-white px-[30px] py-2 rounded-3xl bg-secondary cursor-pointer hover:text-primary transition-all hover:bg-[#FFFF00];
}

.btn-github {
  @apply text-white px-[30px] py-2 rounded-3xl bg-primary   hover:bg-[#153462] cursor-pointer hover:text-white transition-all;
}

.btn-menu {
  @apply px-6 py-2 bg-primary rounded-3xl text-white;
}
.spo {
  @apply absolute -top-1 -right-6 text-xs bg-secondary rounded-full px-[5px] font-medium;
}

.lix {
  @apply hover:text-secondary hover:scale-125 transition-all duration-500;
}

.toolTip {
  @apply relative w-28 h-28 border-4  border-secondary rounded-full mt-8
  before:content-[''] before:absolute before:top-0 flex justify-center before:-translate-y-3 before:rotate-45
   before:bg-secondary before:w-5 before:h-5;
}

.slick-dots {
  @apply flex justify-start w-full;
}

.slick-dots .slick-active div {
  @apply bg-secondary;
}

.slick-dots div {
  @apply m-0 mt-4;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #000;
  }

  &::-webkit-scrollbar-track {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFFF00;
    border-radius: 50px;
  }
}


.grid-cols-ese {
  grid-template-columns: repeat(auto-fill, 350px);
}

.xef:hover h1{
  display: none;
}

.custom-vertical-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #fff5da;
    border-radius: 38px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 38px;
  }
}